/* font-family: 'Lora', serif;
font-family: 'Raleway', sans-serif; */
* {
  margin: 0%;
  padding: 0%;
}

.grid-container {
  display: grid;
  grid-template-columns: 5em repeat(4, 1fr) 5em;
  grid-template-rows: 5em repeat(2, fit-content) repeat(7, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

/* start of navigation */
.logo {
  grid-area: 1 / 1 / 2 / 2;
  margin-left: 0.5em;
  margin-top: 0.5em;
}
.logo img {
  max-width: 4em;
}
.div-navigation {
  grid-area: 1 / 2 / 2 / 3;
  text-align: left;
  padding-top: 1.5em;
  padding-left: 6em;
  max-height: 5em;
  position: fixed;
}
.navigation {
  list-style: none;
  font-family: "Raleway", sans-serif;
}
.navigation a {
  text-decoration: none;
  color: #000;
}

.link-animation {
  animation-name: colorAnimation;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}

@keyframes colorAnimation {
  0% {
    color: #397367;
  }
  33% {
    color: #1098f7;
  }
  66% {
    color: #db93b0;
  }
  100% {
    color: #397367;
  }
}
/* end of navigarion */

.div-margin {
  grid-area: 2 / 1 / 11 / 2;
  writing-mode: vertical-rl;
  /* the above line found from https://developer.mozilla.org/en-US/docs/Web/CSS/text-orientation */
  color: #fff;
  margin: auto;
  text-align: justify;
  overflow: hidden;
}
/* animation for margin */
/* animation inspired by https://codepen.io/iskadar/pen/zLQjLe */

.div-margin-background {
  grid-area: 2 / 1 / 11 / 2;
  background-color: #000;
  z-index: -1;
  /* source for z-index https://www.w3schools.com/cssref/pr_pos_z-index.php */
}

/* start of hero sections letters*/
.div-letter-1 {
  grid-area: 3 / 2 / 5 / 3;
  margin: auto;
  line-height: 5em;
}
.div-letter-2 {
  grid-area: 4 / 4 / 6 / 5;
  margin: auto;
  line-height: 5em;
}
.div-letter-3 {
  grid-area: 5 / 3 / 7 / 4;
  margin: auto;
  line-height: 5em;
}
.div-letter-4 {
  grid-area: 2 / 5 / 4 / 6;
  margin: auto;
  line-height: 5em;
}
.hero-letters {
  font-size: 22em;
  font-family: "Raleway", sans-serif;
}
.green-letter {
  color: #397367;
}
.white-letter {
  color: #fff;
}
.div-green {
  grid-area: 1 / 3 / 8 / 4;
}
.background-green {
  background-color: #397367;
  z-index: -1;
  /* source for z-index https://www.w3schools.com/cssref/pr_pos_z-index.php */
}
/* end of hero sections letters*/

.div-paragraph-1 {
  grid-area: 6 / 4 / 8 / 5;
  padding-left: 2em;
  padding-bottom: 20em;
  padding-top: 4em;
}
.div-paragraph-1 a {
  text-decoration: none;
  color: black;
}

.div-paragraph-2 {
  grid-area: 8 / 3 / 9 / 4;
}
.div-pink {
  grid-area: 8 / 4 / 10 / 5;
}
.like-list {
  padding-left: 2em;
}
.background-pink {
  background-color: #db93b0;
}
.div-footer {
  grid-area: 10 / 5 / 11 / 7;

  background-color: #000;
  color: #fff;
  text-align: right;
  padding: 40px 20px;
}
.div-footer a {
  text-decoration: none;
  color: #fff;
}

.div-lion {
  grid-area: 8 / 4 / 10 / 7;
}

.font-lora {
  font-family: "Lora", serif;
}

h3 {
  font-family: "Raleway", sans-serif;
  font-size: 3em;
}
